.container {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.container .left .title {
  color: #d67e34;
  font-family: "Tinos", serif;
  font-size: 52px;
}
.container .left .text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.container .right {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .right Button {
  margin: 0;
}

@media (max-width: 900px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .left .title {
    font-size: 30px;
    text-align: center;
  }
  .container .left .text {
    text-align: center;
  }
}