.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	min-height: 960px;

	.header {
		color: black;
		font-family: 'Tinos', serif;
		font-size: 54px;
		display: flex;
		justify-content: center;
		

			span {
			color: #d67e34;
			padding-left: 10px;
			
		}
		
		
	}

	.main {
		display: flex;
		gap: 30px;
		width: 100%;

		.right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.burger {
				display: flex;
				align-items: center;
				gap: 38px;
				justify-content: space-between;

				p {
					font-family: 'Tinos', serif;
					color: black;
					font-size: 26px;
					text-align: center;
					display: flex;
					justify-content: right;
				}
			
			}
		}
	}
}

@media (max-width: 1000px) {
	.container {
		min-height: 1400px;

		.header {
			padding: 0 10% !important;
		}
	}

	.main {
		flex-wrap: wrap;
		justify-content: center;

		.left {
			img {
				width: 100%;
				height: auto;
				// object-fit: cover;
				// align-items: center;
			}
		}

		.right {
			min-height: 700px;
			justify-content: space-around !important;
			.burger {
				padding: 0 10%;
				justify-content: center !important;
				// flex-wrap: wrap;
				p {
					justify-content: center ;
				}
			}
		}
	}
}

@media (max-width: 785px) {

}

@media (max-width: 480px) {
	.container {
	.header {
font-size: 40px;
		p{
		
		}
	}

.burger {
		p {
			font-size: 22px !important;
		}

	}
	
	}

}
