@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.header__logo {
  margin-right: auto;
}

.header {
  background-image: url("/images/bg-header.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-position: center;
}

.header__container {
  margin: 0 10%;
}

.header__line {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}
.header__list a {
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.header__list a:hover {
  color: #d67e35;
}
.header__list a:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.header__basket {
  position: relative;
  border-right: 1px solid #fff;
  margin-left: 10%;
  height: 50px;
}
.header__basket .header__basket--svg {
  position: absolute;
  top: 15px;
  right: 40px;
  fill: #fff;
  width: 20px;
  height: 20px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.header__basket .header__basket--svg:hover {
  fill: #d67e35;
}
.header__basket .header__basket--svg:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.header__contacts {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 14px;
  margin-left: 3%;
}
.header__contacts .header__contacts--numPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.header__contacts .header__contacts--numPhone:hover .header__contacts--svg {
  fill: #d67e35;
  cursor: pointer;
}
.header__contacts .header__contacts--numPhone:hover .header__contacts--number a {
  color: #d67e35;
}
.header__contacts .header__contacts--svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}
.header__contacts .header__contacts--text {
  max-width: 155px;
}

.header__contacts--number a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 157px;
  height: 47px;
  background-color: #ff7400;
  margin-left: 5%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.header__btn:hover {
  background-color: #b66a2c;
}
.header__btn:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.header__btn a {
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.header__burgerMenu {
  display: none;
}
.header__burgerMenu:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.header__burgerMenu .header__burgerMenu--svg rect {
  fill: #ff7400;
}

@media (max-width: 1200px) {
  .header__contacts--number {
    display: none;
  }
  .header__contacts--text {
    display: none;
  }
  .header__list {
    gap: 25px;
    font-size: 12px;
  }
  .header__btn {
    width: 123px;
    height: 37px;
  }
  .header__btn a {
    font-size: 12px;
  }
  .header__logo a img {
    width: 75px;
    height: 51px;
  }
}
@media (max-width: 785px) {
  .header__burgerMenu {
    display: block;
  }
  .header__list {
    display: none;
  }
  .header__basket {
    display: none;
  }
  .header__btn {
    display: none;
  }
  .header__contacts--svg {
    display: none;
  }
}