.container {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.container .header {
  color: #FF7400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5%;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: "Tinos", serif;
  font-size: 54px;
}

@media (max-width: 1390px) {
  .container .header {
    padding-top: 3%;
  }
  .container .cards {
    padding-top: 3%;
  }
  .container .cards .card {
    padding: 3% 0 2%;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
  .container .cards .card img {
    width: 170px;
    height: 170px;
  }
}
@media (max-width: 790px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .header {
    text-align: center;
  }
  .container .cards {
    display: none;
  }
  .container .containerCarousel {
    padding-top: 100px;
    display: block;
  }
}