.container {
	height: 100%;
}

.background {
	background-image: url('/images/bg-header.jpg');
	height: 100vh;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center;
}

.container__welcome {
	padding: 0 10%;
	height: 100%;
}

.container__history {
	padding: 0 10%;
}

.container__offer {
	background-image: url('/images/bg-offer.jpg');
	background-size: cover;
	height: 357px;
	

}

.container__dishes {
	padding: 0% 10%;

@media (max-width: 700px) {
	padding: 0;
}
}

.container__menu {
	background-image: url('/images/bg_menu.jpg');
	background-size: cover;
	// background-repeat: no repeat;

	min-height: 1030px;

	background-position: center ;
}

.container__comments {


}

.container__gallery {
		padding: 5% 10%;
}

.container__footer {
	color: black;
	height: 100vh;
	background-image: url('/images/bg-bottom.jpg');
	background-size: cover;
	background-position:center;
}