@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.nav__logo {
	margin-right: auto;
}



.nav {
	padding-top: 50px;
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	gap: 45px;

	a {
		text-decoration: none;
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 14px;
		transition-duration: 0.2s;

		&:hover {
			color: #d67e35;
		}
		&:active {
		transform: scale(0.95);
	}
	}
}

.nav__basket {
	position: relative;
	border-right: 1px solid #fff;
	margin-left: 10%;
	height: 50px;


	.nav__basket--svg {
		position: absolute;
		top: 15px;
		right: 40px;
		fill: #fff;
		width: 20px;
		height: 20px;
		transition-duration: 0.2s;

		&:hover {
			fill: #d67e35;
		}

		&:active {
		transform: scale(0.95);
	}
	}
}

.nav__contacts {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 14px;
	margin-left: 3%;

	.nav__contacts--numPhone {
		display: flex;
		justify-content: space-around;
		gap: 10px;
		transition-duration: 0.2s;

		&:hover {
			.nav__contacts--svg {
				fill: #d67e35;
				cursor: pointer;
			}

			.nav__contacts--number a {
				color: #d67e35;
			}
		}
	}

	.nav__contacts--svg {
		width: 30px;
		height: 30px;
		fill: #fff;
	}

	.nav__contacts--text {
		max-width: 155px;
	}
}

.nav__contacts--number a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	transition-duration: 0.2s;
}


.nav__burgerMenu {
	display: none;

		&:active {
		transform: scale(0.95);
	}

	.nav__burgerMenu--svg rect {
		fill: #ff7400;

	}
}

@media (max-width: 1200px) {
	.nav__contacts--number {
		display: none;
	}

	.nav__contacts--text {
		display: none;
	}

	.nav__list {
		gap: 25px;
		font-size: 12px;
	}

	

	.nav__logo {
		a {
			img {
				width: 75px;
				height: 51px;
			}
		}
	}
}

@media (max-width: 785px) {
.nav__btn {
	display: none;
}
	
	.nav__burgerMenu {
		display: block;
	}

	.nav__list {
		display: none;
	}

	.nav__basket {
		display: none;
	}

	.nav__btn {
		display: none;
	}

	.nav__contacts--svg {
		display: none;
	}
}

@media (max-width: 480px) {
}
